<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Lakmedipro (Pvt) Ltd</title>
        <h:outputScript library="js" name="jquery.min.js" ></h:outputScript>
        <h:outputScript library="js" name="skel.min.js" ></h:outputScript>
        <h:outputScript library="js" name="skel-layers.min.js" ></h:outputScript>
        <h:outputScript library="js" name="init.js" ></h:outputScript>
        <link href="http://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet"></link>

        <h:outputStylesheet library="css" name="skel.css" ></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css" ></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style-desktop.css" ></h:outputStylesheet>



    </h:head>
    <h:body>

        <f:view locale="si" >

            <div id="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="12u">

                            <header id="header">
                                <h1><a href="#" id="logo">#{lbl.companyNameShort}</a></h1>
                                <nav id="nav">
                                    <a href="index.xhtml" class="current-page-item">#{lbl.home}</a>
                                    <a href="twocolumn1.xhtml">#{lbl.products}</a>
                                    <a href="twocolumn2.xhtml" >#{lbl.services}</a>
                                    <a href="onecolumn.xhtml">#{lbl.aboutUs}</a>
                                    <a href="threecolumn.xhtml">#{lbl.contact}</a>
                                </nav>
                            </header>

                        </div>
                    </div>
                </div>
            </div>
            <div id="banner-wrapper">
                <div class="container">

                    <div id="banner">
                        <h2>Put something cool here!</h2>
                        <span>And put something almost as cool here, but a bit longer ...</span>
                    </div>

                </div>
            </div>
            <div id="main">
                <div class="container">
                    <div class="row main-row">
                        <div class="4u">

                            <section>
                                <h2>Welcome to Minimaxing!</h2>
                                <p>This is <strong>Minimaxing</strong>, a fully responsive HTML5 site template designed by <a href="http://n33.co">n33</a> and released for free by <a href="http://html5up.net">HTML5 UP</a>. It features
                                    a simple, lightweight design, solid HTML5 and CSS3 code, and full responsive support for desktop, tablet, and mobile displays.</p>
                                <footer class="controls">
                                    <a href="http://html5up.net" class="button">More cool designs ...</a>
                                </footer>
                            </section>

                        </div>
                        <div class="4u">

                            <section>
                                <h2>Who are you guys?</h2>
                                <ul class="small-image-list">
                                    <li>
                                        <a href="#"><img src="images/pic2.jpg" alt="" class="left" /></a>
                                        <h4>Jane Anderson</h4>
                                        <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/pic1.jpg" alt="" class="left" /></a>
                                        <h4>James Doe</h4>
                                        <p>Vitae magna eget odio amet mollis justo facilisis amet quis. Sed sagittis consequat.</p>
                                    </li>
                                </ul>
                            </section>

                        </div>
                        <div class="4u">

                            <section>
                                <h2>How about some links?</h2>
                                <div>
                                    <div class="row">
                                        <div class="6u">
                                            <ul class="link-list">
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Suspendisse varius ipsum</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                            </ul>
                                        </div>
                                        <div class="6u">
                                            <ul class="link-list">
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Vitae magna sed dolore</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                    <div class="row main-row">
                        <div class="6u">

                            <section>
                                <h2>An assortment of pictures and text</h2>
                                <p>Duis neque nisi, dapibus sed mattis quis, rutrum et accumsan. 
                                    Suspendisse nibh. Suspendisse vitae magna eget odio amet mollis 
                                    justo facilisis quis. Sed sagittis mauris amet tellus gravida 
                                    lorem ipsum dolor sit amet consequat blandit lorem ipsum dolor 
                                    sit amet consequat sed dolore.</p>
                                <ul class="big-image-list">
                                    <li>
                                        <a href="#"><img src="images/pic3.jpg" alt="" class="left" /></a>
                                        <h3>Magna Gravida Dolore</h3>
                                        <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo 
                                            facilisis amet quis consectetur in, sollicitudin vitae justo. Cras 
                                            Maecenas eu arcu purus, phasellus fermentum elit.</p>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/pic4.jpg" alt="" class="left" /></a>
                                        <h3>Magna Gravida Dolore</h3>
                                        <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo 
                                            facilisis amet quis consectetur in, sollicitudin vitae justo. Cras 
                                            Maecenas eu arcu purus, phasellus fermentum elit.</p>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/pic5.jpg" alt="" class="left" /></a>
                                        <h3>Magna Gravida Dolore</h3>
                                        <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo 
                                            facilisis amet quis consectetur in, sollicitudin vitae justo. Cras 
                                            Maecenas eu arcu purus, phasellus fermentum elit.</p>
                                    </li>
                                </ul>
                            </section>

                        </div>
                        <div class="6u">

                            <article class="blog-post">
                                <h2>Just another blog post</h2>
                                <a class="comments" href="#">33 comments</a>
                                <a href="#"><img src="images/pic6.jpg" alt="" class="top blog-post-image" /></a>
                                <h3>Magna Gravida Dolore</h3>
                                <p>Aenean non massa sapien. In hac habitasse platea dictumst. 
                                    Maecenas sodales purus et nulla sodales aliquam. Aenean ac 
                                    porttitor metus. In hac habitasse platea dictumst. Phasellus 
                                    blandit turpis in leo scelerisque mollis. Nulla venenatis 
                                    ipsum nec est porta rhoncus. Mauris sodales sed pharetra 
                                    nisi nec consectetur. Cras elit magna, hendrerit nec 
                                    consectetur in, sollicitudin vitae justo. Cras amet aliquet 
                                    Aliquam ligula turpis, feugiat id fermentum malesuada, 
                                    rutrum eget turpis. Mauris sodales sed pharetra nisi nec 
                                    consectetur. Cras elit magna, hendrerit nec consectetur 
                                    in sollicitudin vitae.</p>
                                <footer class="controls">
                                    <a href="#" class="button">Continue Reading</a>
                                </footer>
                            </article>

                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="8u">

                            <section>
                                <h2>How about a truckload of links?</h2>
                                <div>
                                    <div class="row">
                                        <div class="3u">
                                            <ul class="link-list">
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Suspendisse varius ipsum</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                            </ul>
                                        </div>
                                        <div class="3u">
                                            <ul class="link-list">
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Vitae magna sed dolore</a></li>
                                            </ul>
                                        </div>
                                        <div class="3u">
                                            <ul class="link-list">
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Suspendisse varius ipsum</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                            </ul>
                                        </div>
                                        <div class="3u">
                                            <ul class="link-list">
                                                <li><a href="#">Quis accumsan lorem</a></li>
                                                <li><a href="#">Sed neque nisi consequat</a></li>
                                                <li><a href="#">Eget et amet consequat</a></li>
                                                <li><a href="#">Dapibus sed mattis blandit</a></li>
                                                <li><a href="#">Vitae magna sed dolore</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                        <div class="4u">

                            <section>
                                <h2>Something of interest</h2>
                                <p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. 
                                    Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet 
                                    mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
                                    lorem ipsum dolor sit amet consequat blandit.</p>
                                <footer class="controls">
                                    <a href="#" class="button">Oh, please continue ....</a>
                                </footer>
                            </section>

                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">

                            <div id="copyright">
                                &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </f:view>

    </h:body>
</html>

